@import "src/assets/theme/base.scss";
.fondo-imagen {
  background-image: url('../../../../../assets/images/fondo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
}

.texto {
  color: $color5;
  text-align: center;
  margin: auto;
  max-width: 800px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba($color2, 0.8);
  box-shadow: 2px 2px 5px rgba($color3, 0.9);
}