@import "src/assets/theme/base.scss";
.footer {
  width: 100%;
  background-color: $color2;
  overflow: hidden;
}
.container-footer {
  padding: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.link-creator,
.link-creator a {
  color: $color5;
}

.social {
  display: flex;
  gap: 20px;
}

.social a {
  background-color: $color5;
  padding: 10px;
  border-radius: 20%;
  cursor: pointer;
  color: $color2;
  &:hover{
    background-color: $color3;
    i{
      color: $color5;
    }
  }
}
