<footer class="footer">
  <div class="container-fluid container-footer">
    <div>
      <a href="#" class="logo"
        ><img src="assets/images/logo/logo.svg" alt="Logo" /> Hubbec</a
      >
    </div>

    <p class="social center">
      <a title="Ir a Facebook" href="https://facebook.com/" target="_blank"
        ><i class="fa fa-facebook"></i
      ></a>
      <a title="Ir a instagram" href="https://instagram.com/" target="_blank"
        ><i class="fa fa-instagram"></i
      ></a>
      <a
        title="Ir a página web"
        href="https://ibrahimdelkairo.com/"
        target="_blank"
        ><i class="fa-solid fa-globe"></i
      ></a>
    </p>
    <p class="link-creator center">
      Creado por Ibrahim Delkairo &copy; 2023 -
      <a href="https://ibrahimdelkairo.com/" target="_blank"
        >IbrahimDelkairo.com</a
      >
    </p>
  </div>
</footer>
