@import "src/assets/theme/base.scss";

.header {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: $color2;
}

.logo {
  float: left;
  font-size: 1.5em;
  a {
    text-decoration: none;
    color: $color5;
  }
}

.menu {
  float: right;

  &-burguer {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-left: 20px;
    a {
      text-decoration: none;
      color: $color5;
      font-size: 1.2em;
      &:hover,
      &.active {
        border-bottom: 1px solid $color5;
        margin-bottom: 20px;
      }
    }
    span {
      color: $color5;
    }
  }
}

@media (max-width: 768px) {
  .logo {
    float: none;
    text-align: center;
  }

  .menu {
    float: none;
    width: 100%;
    ul {
      text-align: center;
    }
    li {
      display: block;
      margin: 10px 0;
    }
  }

  .menu {
    display: none;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-burguer {
      display: block;
      color: $color5;
      font-size: 30px;
      cursor: pointer;
    }
    &-active {
      display: block;
    }
  }
}

@media (min-width: 992px) {
  .header {
    width: 100%;
  }
}
