<header class="header">
  <div class="container-fluid">
    <div class="menu-top">
      <a href="#" class="logo"
        ><img
          src="assets/images/logo/logo.svg"
          alt="Logo"
          height="50px"
        />Hubbec</a
      >
      <div class="menu-burguer">
        <i class="fa-solid fa-bars" (click)="toogleMenu()"></i>
      </div>
    </div>
    <nav class="menu" [ngClass]="{ 'menu-active': showMenu }">
      <ul>
        <li>
          <a class="link" routerLink="/inicio" routerLinkActive="active"
            >Inicio</a
          >
        </li>
        <li>
          <a
            class="link"
            routerLink="/dashboard/profile"
            routerLinkActive="active"
            *ngIf="isLoggedIn"
            >Perfil</a
          >
        </li>
        <li>
          <a
            class="link"
            routerLink="/dashboard/hobbies"
            routerLinkActive="active"
            *ngIf="isLoggedIn"
            >Hobbies</a
          >
        </li>
        <li>
          <button
            class="btn btn-danger"
            routerLink="/register"
            routerLinkActive="active"
            *ngIf="!isLoggedIn"
          >
            <i class="fa-solid fa-id-card"></i>
            Crear cuenta
          </button>
        </li>
        <li>
          <button
            class="btn btn-outline"
            routerLink="/login"
            routerLinkActive="active"
            *ngIf="!isLoggedIn"
          >
            Iniciar sesión
          </button>
        </li>
        <li>
          <span
            class="link"
            id="userName"
            class="user-name"
            *ngIf="isLoggedIn"
            >{{ userSession }}</span
          >
        </li>
        <li>
          <button
            class="btn btn-outline"
            *ngIf="isLoggedIn"
            (click)="cerrarSesion()"
          >
            <i class="fa-solid fa-right-from-bracket"></i>
            Cerrar sesión
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
