<div class="center container-fluid">
  <h1>Listado de Hobbies</h1>
  <form>
    <p>Todos los campos marcados con (*) son obligatorios</p>

    <div class="form form_border form_column form_limited">
      <h2>Agregar Hobby</h2>
      <app-input-element
        label="Hobby:"
        name="hobby"
        [control]="formGroup.get('hobby')"
        [type]="'text'"
        [required]="true"
      ></app-input-element>
      <a class="btn btn-primary" (click)="addHobby()"><i class="fa-solid fa-floppy-disk"></i> Agregar</a>
    </div>
  </form>
  <div class="form form_border form_column form_limited mb-4">
    <h2> Mis Hobbies <i class="fa-solid fa-music"></i> &nbsp;<i class="fa-regular fa-futbol"></i> &nbsp;<i class="fa-solid fa-book"></i></h2>
    <ul class="left">
      <li *ngFor="let hobby of hobbies">{{ hobby.name }}</li>
    </ul>
  </div>
</div>
