<div class="center container-fluid">
  <h1>Crear cuenta</h1>
  <form class="form form_limited form_column form_border">
    <p>Todos los campos marcados con (*) son obligatorios</p>
    <app-select-element
      label="Tipo de identificación"
      name="documentType"
      [options]="getDocumentTypes()"
      [control]="formGroup.get('documentType')"
      [required]="true"
      placeholder="Seleccione un tipo de documento"
    ></app-select-element>

    <app-input-element
      label="Número de identificación"
      name="documentNumber"
      [control]="formGroup.get('documentNumber')"
      [type]="'number'"
      [required]="true"
    ></app-input-element>
    <app-input-element
      label="Fecha de expedición"
      name="expeditionDate"
      [control]="formGroup.get('expeditionDate')"
      [type]="'date'"
      [required]="true"
      [max]="fechaActual | fechaFormato : 'yyyy-MM-dd'"
    ></app-input-element>

    <app-input-element
      label="Nombres"
      name="firstName"
      [control]="formGroup.get('firstName')"
      [required]="true"
    ></app-input-element>
    <app-input-element
      label="Apellidos"
      name="lastName"
      [control]="formGroup.get('lastName')"
      [required]="true"
    ></app-input-element>

    <app-input-element
      label="Email"
      name="email"
      [type]="'email'"
      [control]="formGroup.get('email')"
      [required]="true"
    ></app-input-element>
    <app-input-element
      label="Número de teléfono"
      name="phoneNumber"
      [control]="formGroup.get('phoneNumber')"
      [type]="'number'"
      [required]="true"
    ></app-input-element>
    <app-input-element
      label="Fecha de nacimiento"
      name="birthdate"
      [control]="formGroup.get('birthdate')"
      [type]="'date'"
      [required]="true"
    ></app-input-element>
    <!--
        [max]="agregarAniosFecha(fechaActual, -18) | fechaFormato : 'yyyy-MM-dd'"
      -->
    <a class="btn btn-primary mt-4" (click)="onSubmit()"><i class="fa-solid fa-floppy-disk"></i> Crear cuenta</a>
  </form>
</div>
