<div class="form-group"  *ngIf="visible">
  <label [for]="name">{{ label }}<span *ngIf="required">(*)</span> :</label>

  <select
   
    [attr.disabled]="disabled ? true : null"
    (change)="valueChanged($event)"
    class="form-control"
    [id]="name"
    [name]="name"
    [formControl]="control"
    [attr.required]="required ? true : null"
  >
    <option value="" disabled selected>{{ placeholder }}</option>
    <ng-container *ngFor="let option of options">
      <option [value]="option.value">{{ option.label }}</option>
    </ng-container>
  </select>

  <div *ngIf="hasErrorInput(control)" class="invalid">
    <span>{{ errorText(control) }}</span>
  </div>
</div>
