<div class="form-group">
  <label [for]="name">{{ label }}<span *ngIf="required">(*)</span> :</label>
  <input
    type="{{ type }}"
    class="form-control"
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [formControl]="control"
    [attr.required]="required ? true : null"
    [min]="min"
    [max]="max"
    *ngIf="visible"
    [readonly]="disabled"
  />
  <div *ngIf="hasErrorInput(control)" class="invalid">
    <span>{{ errorText(control) }}</span>
  </div>
</div>
