/* You can add global styles to this file, and also import other style files */
@import "src/assets/theme/base";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

.center {
  text-align: -webkit-center;
}
.left {
  text-align: left;
}

.logo {
  display: flex;
  align-items: center;
  color: $color5;
  text-decoration: none;
  gap: 10px;
  font-size: 1.5em;
  float: left;
}

.logo img {
  height: 50px;
}

/*	-------------------------------------------	*\ 
/*	MARGINS 
/*	-------------------------------------------	*/
.mt {
  &-1 {
    margin-top: 5px;
  }
  &-2 {
    margin-top: 10px;
  }
  &-3 {
    margin-top: 15px;
  }
  &-4 {
    margin-top: 20px;
  }
}
.mb {
  &-1 {
    margin-bottom: 5px;
  }
  &-2 {
    margin-bottom: 10px;
  }
  &-3 {
    margin-bottom: 15px;
  }
  &-4 {
    margin-bottom: 20px;
  }
}

/*	-------------------------------------------	*\ 
/*	CONTAINERS 
/*	-------------------------------------------	*/

.container-fluid {
  width: 90%;
  margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.contenido {
  min-height: calc(100vh - 297px);
}

/*	-------------------------------------------	*\ 
/*	BOTONES 
/*	-------------------------------------------	*/

.btn {
  cursor: pointer;
  padding: 10px;
  min-width: 120px;
  color: $color5;
  border-radius: 4px;
  &-circle {
    border-radius: 20px;
  }
  &-primary {
    background-color: $color2;
    border-color: $color2;
    &:hover {
      background-color: darken($color2, 3%);
    }
  }
  &-secondary {
    background-color: $color3;
    border-color: $color3;
    &:hover {
      background-color: darken($color4, 3%);
    }
  }
  &-danger {
    background-color: $color1;
    border-color: $color1;
    &:hover {
      background-color: darken($color1, 3%);
    }
  }
  &-outline {
    background-color: transparent;
    border: 1px solid $color5;
    &:hover {
      background-color: $color5;
      color: $color2;
    }
  }

  &-outline-inverse {
    background-color: transparent;
    border: 1px solid $color2;
    color: $color2;
    &:hover {
      background-color: $color2;
      color: $color5;
    }
  }
}

/*	-------------------------------------------	*\ 
/*	FORMS 
/*	-------------------------------------------	*/

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
  &_column {
    grid-template-columns: 1fr;
  }
  &_limited {
    max-width: 500px;
  }
  &_border {
    background-color: $color5;
    border: 1px solid $color4;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba($color3, 0.3);
    padding: 20px;
    margin: 30px 0px;
  }
}

.form > *:nth-last-child(-n + 1) {
  grid-column: 1 / -1;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  label {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }
}

/*	-------------------------------------------	*\ 
/*	INPUTS 
/*	-------------------------------------------	*/

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
select {
  margin-top: 5px;
  border: 1px solid $color4;
  border-radius: 4px;
  padding: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.invalid {
  margin-top: 7px;
  font-size: 15px;
  span {
    color: $color1;
  }
}

/*	-------------------------------------------	*\ 
/*	DIALOG 
/*	-------------------------------------------	*/
.dialog {
  position: fixed;
  background: rgba($color3, 0.5);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: $color5;
    padding: 50px;
    box-shadow: 2px 2px 5px rgba(67, 67, 67, 0.3);
    border-radius: 10px;
  }
}

/*	-------------------------------------------	*\ 
/*	SWEET ALERT 2 CUSTOM 
/*	-------------------------------------------	*/

.swal2-styled.swal2-confirm {
  background-color: $color2 !important;
}
