<div class="container-fluid">
<div class="center">
  <h1>Mi Perfil</h1>
  <form>
    <p>Todos los campos marcados con (*) son obligatorios</p>

    <div class="form form_border">
      <h2 class="left">Datos principales:</h2>
      <span></span>
      <app-select-element
        label="Tipo de identificación"
        name="documentType"
        [options]="getDocumentTypes()"
        [control]="formGroup.get('documentType')"
        [required]="true"
        placeholder="Seleccione un tipo de documento"
      ></app-select-element>

      <app-input-element
        label="Número de identificación"
        name="documentNumber"
        [control]="formGroup.get('documentNumber')"
        [type]="'number'"
        [required]="true"
      ></app-input-element>
      <app-input-element
        label="Fecha de expedición"
        name="expeditionDate"
        [control]="formGroup.get('expeditionDate')"
        [type]="'date'"
        [required]="true"
        [max]="fechaActual | fechaFormato : 'yyyy-MM-dd'"
      ></app-input-element>

      <app-input-element
        label="Nombres"
        name="firstName"
        [control]="formGroup.get('firstName')"
        [required]="true"
      ></app-input-element>
      <app-input-element
        label="Apellidos"
        name="lastName"
        [control]="formGroup.get('lastName')"
        [required]="true"
      ></app-input-element>

      <app-input-element
        label="Email"
        name="email"
        [type]="'email'"
        [control]="formGroup.get('email')"
        [required]="true"
      ></app-input-element>
      <app-input-element
        label="Número de teléfono"
        name="phoneNumber"
        [control]="formGroup.get('phoneNumber')"
        [type]="'number'"
        [required]="true"
      ></app-input-element>
      <app-input-element
        label="Fecha de nacimiento"
        name="birthdate"
        [control]="formGroup.get('birthdate')"
        [type]="'date'"
        [required]="true"
      ></app-input-element>
      <p></p>
    </div>
    <div class="form form_border">
      <h2 class="left">Datos complementarios:</h2>
      <span></span>
      <app-select-element
        label="País"
        name="country"
        (changeEvent)="selectPais($event)"
        [options]="getCountrys()"
        [control]="formGroup.get('country')"
        [required]="false"
        placeholder="Seleccione el país"
      ></app-select-element>
      <app-select-element
        label="Ciudad"
        name="city"
        [options]="getCitys()"
        [control]="formGroup.get('city')"
        [required]="false"
        placeholder="Seleccione la ciudad"
        *ngIf="paisSeleccionado !== ''"
      ></app-select-element>

      <app-input-element
        label="Dirección"
        name="address"
        [control]="formGroup.get('address')"
        [type]="'text'"
        [required]="false"
      ></app-input-element>
      <app-camera-input
        label="Foto de perfil"
        name="file"
        [control]="formGroup.get('file')"
        [required]="false"
        #fotoPerfil
      ></app-camera-input>

      <a class="btn btn-primary mt-4" (click)="onSubmit()"
        ><i class="fa-solid fa-pen-to-square"></i> Actualizar Datos Perfil</a
      >
    </div>
  </form>
</div>
</div>