@import "src/assets/theme/base";

.captured-image-container {
  border: 1px solid $color3;
  padding: 20px;
  min-height: 50px;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.captured-image-foto {
  height: 200px;
}
