<div class="form-group">
  <label [for]="name">{{ label }}<span *ngIf="required">(*)</span> :</label>
  <div class="captured-image-container">
    <img
      *ngIf="image"
      [src]="image"
      class="captured-image-foto"
      alt="captured image"
    />
    <img
      *ngIf="rutaFoto !== '' && !image"
      [src]="rutaFoto"
      class="captured-image-foto"
      alt="captured image"
    />
    <a (click)="openCamera()" class="btn btn-primary mt-2"><i class="fa-solid fa-camera"></i> Nueva foto</a>
  </div>

  <!--   <div *ngIf="hasErrorInput(control)" class="invalid">
    <span>{{ errorText(control) }}</span>
  </div> -->
</div>

<div class="dialog" *ngIf="showDialog">
  <div class="dialog-container">
    <video #video></video>
    <canvas #canvas style="display: none"></canvas>
    <a class="btn btn-primary" (click)="captureImage()"><i class="fa-solid fa-camera"></i> Tomar Foto</a>
    <a class="btn btn-outline-inverse" (click)="stopCamera()">Cancelar</a>
  </div>
</div>
