<div class="center container-fluid">
  <h1>Iniciar sesión</h1>

  <form class="form form_limited form_column form_border">
    <p>Todos los campos marcados con (*) son obligatorios</p>
    <app-input-element
      label="Email:"
      name="username"
      [type]="'email'"
      [control]="formGroup.get('username')"
      [required]="true"
    ></app-input-element>
    <app-input-element
      label="Contraseña"
      name="password"
      [control]="formGroup.get('password')"
      [type]="'password'"
      [required]="true"
    ></app-input-element>

    <a class="btn btn-primary mt-4" (click)="onSubmit()">Login</a>
  </form>
</div>
